.gradle/
.kotlin/
.idea/
**/build/
local.properties
*.iml
*.jks
*.keystore
!debug.keystore
captures/
.externalNativeBuild/
.cxx/
.android-sdk/
*.apk
*.aab
*.ap_
*.dex
*.class
*.log
.DS_Store
gen/
out/
/tools/
